<% include partials/header-meta %>
    <title>
        Cypher Learning Tool |
        <% if (topic.records.length != 0) { %>
            <%= topic.records[0]._fields[0].properties.title %>
        <% } else { %>
            404 Topic not found
        <% } %>
    </title>
    <link rel="stylesheet" type="text/css" href="<%= rootURL %>/css/style.css">
    <script src="https://kit.fontawesome.com/bcce239bc2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/highlightjs-cypher/dist/cypher.min.js"></script>
<% include partials/header-bootstrap %>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg mt-0 mb-4">
            <a href="<%= rootURL %>/" class="navbar-brand mr-auto">
                <img src="<%= rootURL %>/img/logo-2.png" height="80" class="d-inline-block align-top" alt="Cypher Learning Tool">
            </a>
            <span class="navbar-text align-bottom">logged in as <strong><%= user.username %></strong></span>
        </nav>
        <div class="row">
            <% if (topic.records.length != 0) { %>
                <div class="col-12 mb-5">
                    <!-- Topic title -->
                    <div class="d-flex">
                        <h4>
                            <%= topic.records[0]._fields[0].properties.orderNumber %>.
                            <%= topic.records[0]._fields[0].properties.title %>
                        </h4>
                        <button type="button" class="btn btn-primary ml-auto" id="content-btn">
                            <i class="far fa-edit"></i>
                            Edit content
                        </button>
                    </div>
                    <hr>
                    <!-- Topic content -->
                    <div id="topic-content">
                        <%- topic.records[0]._fields[0].properties.content %>
                    </div>
                    <!-- Exercises -->
                    <h4>Exercises:</h4>
                    <hr>
                    <ul style="list-style: none;">
                        <% if (exercises.records.length != 0) { %>
                            <% exercises.records.forEach(exercise => { %>
                                <li class="mt-2 mb-3">
                                    <i class="far fa-file-code fa-lg mr-3"></i>
                                    <span>Exercise <%= exercise._fields[0].properties.orderId %></span>
                                    <a href="<%= rootURL %>/topic/<%= topic.records[0]._fields[0].properties.orderNumber %>/exercise/<%= exercise._fields[0].properties.orderId %>" class="ml-4 mr-1">[Edit]</a>
                                    <form class="form-inline" method="POST" action="<%= rootURL %>/topic/<%= topic.records[0]._fields[0].properties.orderNumber %>/exercise/<%= exercise._fields[0].properties.orderId %>?_method=DELETE">
                                        <button type="submit" class="btn btn-link text-danger">
                                            [Delete]
                                        </button>
                                    </form>
                                </li>
                            <% }); %>
                        <% } else { %>
                            no exercises
                        <% } %>
                        <li class="mt-4 mb-3">
                            <form method="POST" action="<%= rootURL %>/topic/<%= topic.records[0]._fields[0].properties.orderNumber %>/exercise">
                                <button type="submit" class="btn btn-link text-success">
                                    <i class="fas fa-plus-circle fa-lg mr-2"></i> Add exercise
                                </button>
                            </form>
                        </li>
                    </ul>
                    
                </div>
            <% } else { %>
                <div class="col-12">
                    <h4>404 Topic not found</h4>
                    <hr>
                </div>
            <% } %>
        </div>
    </div>

    
    <script>
        tinymce.init({
            selector:'#topic-content',
            content_css : '<%= rootURL %>/resources/bootstrap-4.3.1-dist/css/bootstrap.min.css',
            plugins: 'code',
            toolbar: 'undo redo styleselect bold italic alignleft aligncenter alignright bullist numlist outdent indent code',
            menubar: false,
            statusbar: false,
            valid_elements: 'p,h5/h1,h5/h2,h6/h3,h6/h4,ul,ol,li,highlight,strong/b,br,a[href|target:_blank],pre,code,table[class:table table-striped table-responsive-md table-sm],thead,th,tr,td'
        }).then(function(editors) {
            editors[0].hide();
            document.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightBlock(block);
            });
        });
        
        document.addEventListener('DOMContentLoaded', (event) => {
            $('#content-btn').on('click', function() {
                var editor = tinyMCE.get('topic-content');
                if (editor.isHidden()) {
                    editor.show();
                    $('#content-btn')
                        .html('<i class="far fa-save"></i> Save changes')
                        .removeClass('btn-primary')
                        .addClass('btn-success');
                } else {
                    
                    updateTopicContent();
                }
            });

            function updateTopicContent() {
                var editor = tinyMCE.get('topic-content');
                $.ajax({
                    url: '<%= rootURL %>/topic/<%= topic.records[0]._fields[0].properties.orderNumber %>',
                    method: 'PUT',
                    dataType: 'text',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        content: editor.getContent()
                    }), beforeSend: function() {
                        editor.setProgressState(true);
                        $('#content-btn')
                        .html('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Saving data...');
                    }, success: function(res) {
                        setTimeout(function() {
                            editor.setProgressState(false);
                            editor.hide();
                            $('#content-btn')
                                .html('<i class="far fa-edit"></i> Edit content')
                                .removeClass('btn-success')
                                .addClass('btn-primary');
                            document.querySelectorAll('pre code').forEach((block) => {
                                hljs.highlightBlock(block);
                            });
                        }, 1500);
                    }, error: function(res) {
                        console.log(res);
                    }
                });
            }
        });
    </script>

<% include partials/footer %>